@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
$bg-color: #23272A;
$sub-bg-color: #2C2F33;
$txt-color: #FFFFFF;
$sub-bg-color-2: #007ACC;
$sub-bg-color-3: #39ABE7;
$txt-font: 'Open Sans', sans-serif;
$title-font:'Black Ops One', cursive;